#cars {
    background-color: var(--dct-color-section-cars-bg);
    padding: 0 20px 0 20px;
  }
  
  .dct-card-description {
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
    border: 1px solid var(--dct-color-section-cars-border);
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .dct-card-description img {
    width: 260px;
    padding: 10px;
  }
  
  .dct-card-description p {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 700;
    color: var(--dct-color-section-cars-description);
  }
  
  @media (min-width: 1200px) {
    #cars {
      padding: 0 227px;
    }
  }